* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
}

li {
    list-style-type: none;
}

.LOGO {
    text-align: center;
    height: 130px;
    background-color: rgb(204, 218, 219);
}

.logo {
    line-height: 90px;
    color: rgba(68, 87, 87, 0.959);
    display: inline-block;
}

[class*="col-"] {
    padding: 0px;
}

.nav {
    background-color: #eee;
    border-bottom: 1px solid #ccc;
}

.nav li {
    background-color: #595e5b;
    color: rgb(204, 218, 219);
    text-align: center;
    display: block;
    height: 48px;
    line-height: 50px;
    padding-left: 5px;
    font-size: 16px;
}

.nav li:hover {
    background-color: rgba(99, 112, 112, 0.959);
    color: #ffffff;
}

.item {
    display: none;
}

.item2 {
    display: none;
}

.item3 {
    display: none;
}

.view {
    display: none;
    color: #000;
}

.col-md-2{
    background-color: #595e5a;
}
/* 图标设计 */

.nav li::before {
    vertical-align: middle;
    padding-right: 7px;
}


/* 广告栏 */

.ad {
    height: 300px;

    line-height: 300px;
    color:rgb(204, 218, 219);
    font-size: 26px;
}

@keyframes move {
    /* 开始状态 */
    0% {
        transform: translateX(0px);
    }

    /* 结束状态 */
    100% {
        transform: translateX(160px);
    }
}
#ad_text{
    position: relative;
    transition: all 2s;
    /* 让背面盒子保留3d空间 */
    transform-style: preserve-3d;
    animation-name: move;
    animation-duration: 2s;
    /* 循环播放 */
    animation-iteration-count: infinite;
    /* 反向播放 */
    animation-direction: alternate;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}



/* 导航条 */

.bar {
    height: 130px;
    background-color: rgb(204, 218, 219);
}

.bar ul li {
    display: block;
    float: left;
    color: rgba(99, 112, 112, 0.959);
    line-height: 120px;
    padding-left: 48px;
    font-size: 30px;
}

.bar ul li::before {
    vertical-align: -4px;
    padding-right: 3px;
}


/* 用户管理部分 */
table{
    table-layout: fixed;
}
th {
    width: 120px;
    height: 30px;
    padding-left: 50px;

}
td{
    width: 120px;
    height: 30px;
    padding-left: 50px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}
#test{
    background-color: #b6b5b2;
    width: 800px;
    height: 300px;
    margin-left: 360px;
}

.caozuo {
    width: 33px;
    background-color: rgb(9, 163, 252);
}


/* 上传视频部分 */

.uploadVideo {
    text-align: center;
}