<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd" >
<head>
    <meta charset="UTF-8">
    <title>subject_ajax</title>
</head>
<body onload="all_list()">
<table id="queryAllPaperName">
    <tr >
        <th>试题名称</th>
        <th>删除</th>
    </tr>
</table>
</body>

<script src="js/jquery.js"></script>
<script>
    function all_list(){
        $.ajax({
            type: "get",
            url: "/queryAllPaperName",
            dataType: "json", //返回数据类型
            success: function(data){
                var str=$("#queryAllPaperName").html();
                for(var i=0;i<data.length;i++) {
                    var list = data[i];
                    str += '<tr>';
                    str += '<td><input name="paperId"             type="text"  value=' + list.paperId + ' readonly="readonly"/></td>';
                    str += '<td><input name="paperName"                type="text"  value=' + list.paperName + ' readonly="readonly"/></td>';
                    str += '<td><input type="button" onclick="deleteButton(&apos;'+list.paperName+'&apos;)" value="删除" /></td>';
                    str += '</tr>';
                }
                $("#queryAllPaperName").html(str);
            },
            error:function (data){
            }
        });
    }

    function deleteButton(paperName){
        $.ajax({
            type: "post",
            url: "/deleteSubject",
            data:{'paperName':paperName},
            dataType: "json", //返回数据类型
            success: function(data){
                alert(data);
            }
        });
    }

</script>
</html>