<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="js/jquery.js"></script>
    <!-- bootstrap插件 -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="bootstrap/js/jquery.min.js"></script>
    <!-- 瀑布流插件 -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/default.css">
    <link rel="stylesheet" href="css/answer.css">

    <title>答题界面</title>
</head>

<body>
    <div class="container">
        <!-- 导航条 -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/main" class="glyphicon glyphicon-chevron-left">返回</a></li>
                        <li><a href="#">欢迎来到答题界面</a></li>

                    </ul>
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="请输入搜索的题卷">
                        </div>
                        <button type="submit" class="btn btn-default glyphicon glyphicon-search">搜索</button>
                        <button type="submit" class="btn btn-default glyphicon glyphicon-exclamation-sign">错题集</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/loginPage">登录</a></li>
                        <li><a href="/registerPage">注册</a></li>
                        <li><a href="#" class="glyphicon glyphicon-user">个人中心</a></li>

                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <div class="title">
            <div class="text">是时候展现你真正的技术了</div>
        </div>
        <div class="phy">
            <div class="row">
                <div class="col-md-9">
                    <div class="typename">生理健康方面</div>
                </div>
                <div class="col-md-offset-10"><button>更多题卷</button></div>
            </div>
            <div class="type">
                <div class="row">
                    <div class="col-md-2"><img src="img/1.jpg" alt=""></div>
                    <div class="col-md-7">青少年生理卫生题</div>
                    <div class="col-md-offset-10"><button>开始答题</button></div>
                </div>
            </div>
            <div class="type">
                <div class="row">
                    <div class="col-md-2"><img src="img/1.jpg" alt=""></div>
                    <div class="col-md-7">青少年生理卫生题</div>
                    <div class="col-md-offset-10"><button>开始答题</button></div>
                </div>
            </div>
            <div class="type">
                <div class="row">
                    <div class="col-md-2"><img src="img/1.jpg" alt=""></div>
                    <div class="col-md-7">青少年生理卫生题</div>
                    <div class="col-md-offset-10"><button>开始答题</button></div>
                </div>
            </div>
            <div class="type">
                <div class="row">
                    <div class="col-md-2"><img src="img/1.jpg" alt=""></div>
                    <div class="col-md-7">青少年生理卫生题</div>
                    <div class="col-md-offset-10"><button>开始答题</button></div>
                </div>
            </div>
        </div>
        <div class="phy">
            <div class="row">
                <div class="col-md-9">
                    <div class="typename">心理健康方面</div>
                </div>
                <div class="col-md-offset-10"><button>更多题卷</button></div>
            </div>
            <div class="type">
                <div class="row">
                    <div class="col-md-2"><img src="img/1.jpg" alt=""></div>
                    <div class="col-md-7">青少年心理题</div>
                    <div class="col-md-offset-10"><button>开始答题</button></div>
                </div>
            </div>
            <div class="type">
                <div class="row">
                    <div class="col-md-2"><img src="img/1.jpg" alt=""></div>
                    <div class="col-md-7">青少年心理题</div>
                    <div class="col-md-offset-10"><button>开始答题</button></div>
                </div>
            </div>
            <div class="type">
                <div class="row">
                    <div class="col-md-2"><img src="img/1.jpg" alt=""></div>
                    <div class="col-md-7">青少年心理题</div>
                    <div class="col-md-offset-10"><button>开始答题</button></div>
                </div>
            </div>
            <div class="type">
                <div class="row">
                    <div class="col-md-2"><img src="img/1.jpg" alt=""></div>
                    <div class="col-md-7">青少年心理题</div>
                    <div class="col-md-offset-10"><button>开始答题</button></div>
                </div>
            </div>
        </div>
    </div>


    <!-- //瀑布流插件 -->
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/pinterest_grid.js"></script>
</body>

</html>