<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd" >
<head>
    <meta charset="UTF-8">
    <title>subject_ajax</title>

</head>
<body onload="anwserSubject()">
<div class="container">
    <div id="anwserSubject">
    </div>
</div>


  </body>

<script src="js/jquery.js"></script>
<script>
    function anwserSubject(){
        var paperId=window.location.search;
        var pId=paperId.split("=");
        console.log(pId);
        $.ajax({
            type: "post",
            url: "/querySubject",
            data:{"paperId":pId[1]},
            dataType: "json", //返回数据类型
            success: function(data){
                console.log(data);
                sessionStorage.setItem("date",date);
                /*选择题*/
                var str="";
                str += '<fieldset>';
                str +='<h3>单选题（5分/题）</h3>';
                str +='<div>';
                str += '<fieldset id="multipleChoice">';
                for(var i=0;i<data.multipleChoiceList.length;i++) {
                    var list = data.multipleChoiceList[i];
                    list.context=list.context.replace(/</g,"&lt;");
                    str +='<div id="multipleChoice'+i+'">';
                    str += '<span style="white-space: pre-line;font-size: larger">'+(i+1)+'. '+list.context+'</span><br/><br/>';
                    console.log(list.context);
                    str += ' <label><input type="radio" value="A" name="multipleChoiceAnswer'+i+'"/>'+'A. '+list.answer1+'</label><br/>';
                    str += ' <label><input type="radio" value="B" name="multipleChoiceAnswer'+i+'"/>'+'B. '+list.answer2+'</label><br/>';
                    str += ' <label><input type="radio" value="C" name="multipleChoiceAnswer'+i+'"/>'+'C. '+list.answer3+'</label><br/>';
                    str += ' <label><input type="radio" value="D" name="multipleChoiceAnswer'+i+'"/>'+'D. '+list.answer4+'</label><br/><br/>';
                    str +='</div>';
                }
                str += '</fieldset>';
                str += '</div>';
                str += '</fieldset>';


                /*判断题*/
                str += '<fieldset>';
                str +='<h3>判断题（5分/题）</h3>';
                str +='<div>';
                str += '<fieldset id="judge">';
                for(var i=0;i<data.judgeList.length;i++) {
                    var list = data.judgeList[i];
                    str +='<div id="judge'+i+'">';
                    str += '<p style="font-size: larger">'+(i+1)+'. '+list.context+'</p>';
                    str += ' <label><input type="radio" value="对" name="answer'+i+'"/>'+'对'+'<br/>';
                    str += ' <label><input type="radio" value="错" name="answer'+i+'"/>'+'错'+'</label><br/>';
                    str +='</div>';
                }
                str += '</fieldset>';
                str += '</div>';
                str += '</fieldset>';


                /*填空题*/
                str += '<fieldset>';
                str +='<h3>填空题（5分/题）</h3>';
                str +='<div>';
                str += '<fieldset id="fillBlank">';
                for(var i=0;i<data.fillBlankList.length;i++) {
                    var list = data.fillBlankList[i];
                    str +='<div>';
                    list.context=list.context.replace(/_______/g,"<label><input type='text' style='border-bottom: 1px solid;border-left: 0px;border-right: 0px;border-top: 0px' /></label>");
                    str += '<p  id="fillBlank'+i+'">'+(i+1)+'. '+list.context+'</p>';
                    str +='</div>';
                }
                str += '</fieldset>';
                str += '</div>';
                str += '</fieldset>';
                str += '<input type="button" id="submitButton" onclick="submitButton()" value="提交" />';
                str += '<input type="button" id="checkAnswer" style="display: none" onclick="checkAnswer()" value="查看答案" />';
                $("#anwserSubject").html(str);
            },
            error:function (data){
            }
        });
    }




    /*提交*/
    function submitButton(){
        var paperId=window.location.search;
        var pId=paperId.split("=");
        var i=0;
        var j=0;
        var k=0;
        var multipleChoiceAnswer=[];
        var judgeAnswer=[];
        var fillBlankAnswer=[];



        /*获取选择题答案*/
        $("#multipleChoice div").each(
            function(){
                // console.log($("#multipleChoice1").children("label").find("input:radio").prop("checked").val());
                var isnull=i;
                $("#multipleChoice"+i+" label").each(
                    function(){
                        // console.log($(this).find('input:checked').val());
                        if($(this).find('input').prop("checked")){
                            multipleChoiceAnswer[i]=$(this).find('input:checked').val();
                            i++;
                        }else{
                            multipleChoiceAnswer[i]="";
                        }
                    })
                if(isnull==i){
                    i++;
                }
            })

        /*获取判断题答案*/
        $("#judge div").each(
            function(){
                // console.log($("#multipleChoice1").children("label").find("input:radio").prop("checked").val());
                var isnull=j;
                $("#judge"+j+" label").each(
                    function(){
                        // console.log($(this).find('input:checked').val());
                        if($(this).find('input').prop("checked")){
                            judgeAnswer[j]=$(this).find('input:checked').val();
                            j++;
                        }else{
                            judgeAnswer[j]="";
                        }
                    })
                // console.log(judgeAnswer);
                // console.log(isnull==j);
                if(isnull==j){
                    j++;
                }
            })


        /*获填空题答案*/
        $("#fillBlank div").each(
            function(){
                console.log($("#fillBlank"+k).children("label"));
                fillBlankAnswer[k]="";
                $("#fillBlank"+k+" label").each(
                    function(){
                            fillBlankAnswer[k]+=$(this).find('input:text').val();
                            fillBlankAnswer[k]+=" ";
                    })
                console.log(fillBlankAnswer);
                k++;
            })

        $.ajax({
            type: "post",
            url: "/correctPaper",
            data:{'userId':1,'paperId':pId[1],'multipleChoiceAnswer':multipleChoiceAnswer,'judgeAnswer':judgeAnswer,'fillBlankAnswer':fillBlankAnswer},
            dataType: "json", //返回数据类型
            traditional: true,
            success: function(data){
                /*隐藏提交按钮*/
                $("#submitButton").hide();
                $("#checkAnswer").show();
                var answerDate=sessionStorage.getItem("date");

                /*批改后选择题的状态*/
                var multipleChoiceData=data.multipleChoice;
                var index=0;
                $("#multipleChoice div").each(
                    function(){
                        var indexAnswer=0;
                        $("#multipleChoice"+indexAnswer+" label").each(
                            function(){
                                if(!multipleChoiceData[index]){
                                    $("#multipleChoice"+index).find('input:checked').parent("label").css("color","red");
                                    $("#multipleChoice"+index).children("span").css("color","red");

                                    indexAnswer++;
                                }
                            })
                        index++;
                    })

                /*批改后判断题的状态*/
                var judgeData=data.judge;
                var index=0;
                $("#judge div").each(
                    function(){
                        var indexAnswer=0;
                        $("#judge"+indexAnswer+" label").each(
                            function(){
                                if(!judgeData[index]){
                                    console.log($("#judge"+index).children("p").val());
                                    $("#judge"+index).children("p").css("color","red");
                                    indexAnswer++;
                                }
                            })
                        index++;
                    })


                /*批改后填空题的状态*/
                var fillBlankData=data.fillBlank;
                console.log(fillBlankData);
                var index=0;

                $("#fillBlank div").each(
                    function(){
                        var indexAnswer=0;
                        var fillBlankList=fillBlankData[index];
                        $("#fillBlank"+index+" label").each(
                            function(){
                                if(!fillBlankList[indexAnswer]){
                                    console.log($("#fillBlank"+index).children("label").children("input"));
                                    $("#fillBlank"+index).children("label").eq(indexAnswer).find("input").css("color","red");
                                }
                                indexAnswer++;
                            })
                        index++;
                    })
            }
        });
    }

</script>
<script type="text/javascript" th:src="@{webjars/jquery/jquery.js}"></script>
</html>

<!--map.put("fillBlank",fillBlankAnswerList);-->
<!--map.put("judge",bJud);-->
<!--map.put("multipleChoice",bMul);-->