<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="js/jquery.js"></script>
    <!-- bootstrap插件 -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="bootstrap/js/jquery.min.js"></script>
    <!-- 瀑布流插件 -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/default.css">
    <!-- 样式 -->
    <link rel="stylesheet" href="css/course.css">

    <title>课程页面</title>
</head>

<body>
    <div class="container">

        <!-- 导航条 -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{/main}" class="glyphicon glyphicon-chevron-left">返回</a></li>
                        <li><a href="#">欢迎来到课程界面</a></li>

                    </ul>
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="请输入搜索的课程名称">
                        </div>
                        <button type="submit" class="btn btn btn-primary btn-default glyphicon glyphicon-search">搜索</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li shiro:hasPermission="deleteOrder"><a href="/logout">退出</a></li>
                        <li shiro:guest=""><a href="/loginPage">登录</a></li>
                        <li><a href="/registerPage">注册</a></li>
                        <li><a th:value="'用户名：'+${username}+','+'邮箱是:'+${email}" class="good glyphicon glyphicon-user">个人中心</a></li>

                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <!-- 轮播图 -->
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="img/l1.png" alt="">
                    <div class="carousel-caption">
                        <h3>羁绊</h3>
                        <p>友谊的力量</p>
                    </div>
                </div>
                <div class="item">
                    <img src="img/l2.png" alt="">
                    <div class="carousel-caption">
                        <h3>一拳</h3>
                        <p>压倒性力量</p>
                    </div>
                </div>
                <div class="item">
                    <img src="img/l3.png" alt="">
                    <div class="carousel-caption">
                        <h3>进击</h3>
                        <p>团结的力量</p>
                    </div>
                </div>

            </div>

            <!-- 轮播图左右控制 -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <!-- 初级视频部分 -->
        <div>
            <button href="" class="btn2">初级视频</button>
            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <a href="/video?courseName=初级" class="thumbnail">
                        <img src="img/c1.jpg" alt="...">
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="/video?courseName=初级" class="thumbnail">
                        <img src="img/c2.png" alt="...">
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="/video?courseName=初级" class="thumbnail">
                        <img src="img/c3.png" alt="...">
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="/video?courseName=初级" class="thumbnail">
                        <img src="img/c4.png" alt="...">
                    </a>
                </div>
            </div>
        </div>

        <!-- 中级视频部分 -->
        <div>
            <button href="" class="btn2">中级视频</button>
            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <a href="/video?courseName=中级" class="thumbnail">
                        <img src="img/c5.png" alt="...">
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="/video?courseName=中级" class="thumbnail">
                        <img src="img/c6.png" alt="...">
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="/video?courseName=中级" class="thumbnail">
                        <img src="img/c7.png" alt="...">
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="/video?courseName=中级" class="thumbnail">
                        <img src="img/c8.png" alt="...">
                    </a>
                </div>
            </div>
        </div>
        <!-- 高级视频部分 -->
        <div>
            <button href="" class="btn2">高级视频</button>
            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <a href="/video?courseName=高级" class="thumbnail">
                        <img src="img/c9.png" alt="...">
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="/video?courseName=高级" class="thumbnail">
                        <img src="img/c10.png" alt="...">
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="/video?courseName=高级" class="thumbnail">
                        <img src="img/c11.png" alt="...">
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="/video?courseName=高级" class="thumbnail">
                        <img src="img/c12.png" alt="...">
                    </a>
                </div>
            </div>
        </div>
        <!-- 会员视频部分 -->
        <div>
            <button href="" class="btn2">会员视频</button>
            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <a href="/video?courseName=高级" class="thumbnail">
                        <img src="img/c6.png" alt="...">
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="/video?courseName=高级" class="thumbnail">
                        <img src="img/c3.png" alt="...">
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="/video?courseName=高级" class="thumbnail">
                        <img src="img/c9.png" alt="...">
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="/video?courseName=高级" class="thumbnail">
                        <img src="img/c11.png" alt="...">
                    </a>
                </div>
            </div>
        </div>

    </div>


    <!-- //瀑布流插件 -->
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/pinterest_grid.js"></script>
    <script>
        $('.good').click(function(){
            var data = $('.good').attr("value");
            confirm(data);
        })

    </script>
</body>

</html>