<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">

    <title>用户登录</title>

</head>
<body>

<div class="container divstyle">
    <img th:src="@{/img/register.png}">
    <h4>鸡儿小课堂</h4>
    <form class="form-style" action="/login" method="post">

            <span th:text="${msg}" style="color: red"></span>
            <input type="email" class="form-control emailcheck" name="email" placeholder="邮箱地址">
             <input type="password" class="form-control" name="passWord" placeholder="密码">
            &nbsp;
            <div>
                <a class="text-muted remember" data-toggle="modal" data-target="#myModal">登录即表示同意本站协议</a>
                <button class="btn btn-primary btn-style" type="submit">登录</button>
            </div>
    </form>
    <p class="mt-5 mb-3 text-muted">© 2017-2019</p>
</div>
<!--模态框modal（用户协议）-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">使用须知</h4>
            </div>
            <div class="modal-body">
                <p class="lead">本教育平台只做学习跟教育使用，禁止任何商业用途
                    <br><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;《用户协议》-----
                    虽然当前我国性教育课程已是不少学校的必须课程之一，
                    但仍备受争论，应该怎么教，教多少，仍没有一个比较正确的规范。
                    为了缓解当代中国性教育缺乏的燃眉之急，
                    我们希望能建设一个网页端平台通过观看视频和答题来让广大青少年了解安全健康、
                    正规可靠的性知识，并以此来减轻学校老师的负担，
                    打破学校老师不敢说，不敢教的窘境，初步规范我国性教育的范围。

                </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger btn-iknow" data-dismiss="modal" style="">知道了</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{webjars/jquery/jquery.js}"></script>
<script type="text/javascript" th:src="@{webjars/bootstrap/js/bootstrap.min.js}"></script>
<link type="text/css" rel="stylesheet" th:href="@{webjars/bootstrap/css/bootstrap.min.css}">
<link type="text/css" rel="stylesheet" th:href="@{/css/register.css}" >

</body>

</html>