<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="js/jquery.js"></script>
    <!-- bootstrap插件 -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <script src="bootstrap/js/bootstrap.min.js"></script>

    <!-- 瀑布流插件 -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/default.css">
    <link rel="stylesheet" href="layui/css/layui.css">
    <link rel="stylesheet" href="css/manage.css">

    <title>Document</title>
</head>

<body>

    <!-- 一个view代表一个管理界面 -->

    <div class="row">
        <div class="col-md-3">
            <div class="LOGO">
                <div class="logo">
                    <a href="#">
                        <img src="img/logo.png" alt="">
                    </a>
                    <h5 href="#">飞鸡小课堂</h5>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="bar">
                <ul class="navbar">

                    <!-- 一个type代表一个管理选择器 -->
                    <li class="type">用户管理</li>
                    <li class="type">视频管理</li>
                    <li class="type">题库管理</li>
                    <li id="ad_text">Welcome To The Administrator Interface!</li>

                </ul>
            </div>
        </div>
    </div>


    <div class="tab">
        <!-- 用户管理模块 -->
        <div class="view" style="display: block;">
            <div class="row">
                <div class="col-md-2">

                    <div class="nav">
                        <ul>
                            <li class="current glyphicon glyphicon-user">用户管理</li>
                            <li class="glyphicon glyphicon-education">权限管理</li>

                        </ul>
                    </div>
                    <div class="ad">
                        <p id="ad_text">广告栏招租中</p>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="item" style="display: block;">
                        <div id="word" align="center">
                            <h1>用户信息管理
                                </h1>
                        </div>
                        <div>
                            <input style="width: 200px;float:left;" type="text" placeholder="请输入查询内容" class="form-control" id="" />


                        <input type="button"  class="btn btn-primary" value="查询">
                        </div>
                        <table class="table table-striped" id="users_table">

                            <thead>
                            <tr>
                                <th>用户id</th>
                                <th>用户名</th>
                                <th>用户邮箱</th>
                                <th>激活码</th>
                                <th>激活状态</th>
                                <th>修改|删除</th>
                            </tr>
                            </thead>
                            <tbody id="nr">

                            </tbody>
                        </table>

                        <div style="width:30%; margin:0px auto">
                            <ul class="pagination" >
                                <li><a>&laquo;</a></li>
                                <li class="active"><a class="aa">1</a></li>
                                <li><a class="aa">2</a></li>
                                <li><a class="aa">3</a></li>
                                <li><a class="aa">4</a></li>
                                <li><a class="aa">5</a></li>
                                <li><a>&raquo;</a></li>
                            </ul>
                        </div>

                    </div>
<!--                    权限-->
                    <div class="item" onload="role_test()" id="test">


                    </div>
                </div>
            </div>
        </div>

        <!-- 视频管理模块 -->
        <div class="view">

            <div class="row">
                <div class="col-md-2">

                    <div class="nav">
                        <ul>
                            <li class="current2 glyphicon glyphicon-user">视频管理</li>
                            <li class="glyphicon glyphicon-education">上传视频</li>

                        </ul>
                    </div>
                    <div class="ad">
                        <p id="ad_text">广告栏招租中</p>
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="item2" style="display: block;">
                        <div id="word" align="center">
                            <h1>视频管理
                                </h1>
                        </div>
                        <div class="row">

                            <div class="col-md-3 col-md-offset-2">
                                <select  class="form-control" id="query0" name="spec_num" onchange="firstquery(this.value)">
                                    <option value="">请选择</option>
                                    <option value="初级">初级课程</option>
                                    <option value="中级">中级课程</option>
                                    <option value="高级">高级课程</option>
                                </select>
                            </div>
                            <div class="col-md-1 col-md-offset-1"></div>
                            <div class="col-md-3 ">
                                <input type="text" placeholder="请输入视频名称" class="form-control" id="query1" onchange="secondquery(this.value)"/>
                            </div>

                        </div>

                        <table class="layui-table" id="video_table">
                            <colgroup>
                                <col width="150">
                                <col width="200">
                                <col>
                            </colgroup>
                            <thead>
                            <tr>
                                <th>视频名称</th>
                                <th>课程类型</th>
                                <th>删除</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    <div id="pagen"style="margin-left: 400px">
                    </div>
                    </div>

                    <div class="item2">
                        <div id="word" align="center">
                            <h1>上传视频
                                </h1>
                        </div>

                        <div class="uploadVideo">
                            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                                <legend>视频上传</legend>
                            </fieldset>

                            <div class="layui-upload">
                                <button type="button" class="layui-btn layui-btn-normal" id="testList">选择视频</button>
                                <div class="layui-upload-list">
                                    <table class="layui-table">
                                        <thead>
                                        <tr>
                                            <th>文件名</th>
                                            <th>大小</th>
                                            <th>状态</th>
                                            <th>操作</th>
                                            <th>课程归属</th>
                                        </tr>
                                        </thead>
                                        <tbody id="demoList"></tbody>
                                    </table>
                                </div>
                                <button type="button" class="layui-btn" id="testListAction">开始上传</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- 题库管理模块 -->
        <div class="view">

            <div class="row">
                <div class="col-md-2">

                    <div class="nav">
                        <ul>
                            <li class="current3 glyphicon glyphicon-user">题库管理</li>
                            <li class="glyphicon glyphicon-education">上传题库</li>

                        </ul>
                    </div>
                    <div class="ad">
                        <p id="ad_text">广告栏招租中</p>
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="item3" style="display: block;">
                        <div id="word" align="center">
                            <h1>题库管理
                                </h1>
                        </div>
                        <table class=" table table-striped" id="test_table">

                            <thead id="queryAllName">

                            </thead>
                            <tbody id="nr">

                            </tbody>
                        </table>
                    </div>
                    <div class="item3">
                        <div id="word" align="center">
                            <h1>上传题库
                                </h1>
                        </div>
                        <div class="uploadVideo">
                            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                                <legend>生理健康题库上传</legend>
                            </fieldset>

                            <div class="layui-upload">
                                <button type="button" class="layui-btn layui-btn-normal" id="chooseSubjectFile">选择题库</button>
                                <div class="layui-upload-list">

                                    <table class="layui-table">
                                        <thead>
                                        <tr>
                                            <th>文件名</th>
                                            <th>大小</th>

                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody id="subjectList"></tbody>
                                    </table>
                                </div>
                                <button type="button" class="layui-btn" id="startUpload">确认放入题库</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>




<!-- //瀑布流插件 -->
<script src="js/jquery-1.11.0.min.js"></script>
<script src="js/pinterest_grid.js"></script>
<script src="layui/layui.js"></script>
<script src="js/manage.js"></script>
<script src="js/subject.js"></script>
<script src="js/role.js"></script>
<script src="js/video.js"></script>
<script src="js/myAjax.js"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use('upload', function() {
        var $ = layui.jquery,
            upload = layui.upload;


        //多文件列表示例
        var demoListView = $('#demoList'),
            uploadListIns = upload.render({
                elem: '#testList',
                url: '/UploadVideo',
                accept: 'file',
                multiple: true,
                auto: false,
                bindAction: '#testListAction',
                choose: function(obj) {
                    var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
                    //读取本地文件
                    obj.preview(function(index, file, result) {
                        var tr = $(['<tr id="upload-' + index + '">', '<td>' + file.name + '</td>', '<td>' + (file.size / 1014).toFixed(1) + 'kb</td>', '<td>等待上传</td>', '<td>', '<button class="layui-btn layui-btn-xs demo-reload layui-hide">重传</button>', '<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>', '</td>', '<td>','<select id="t' + index + '"  name="quiz2">' +
                        '                    <option value="" selected="selected">请选择课程归属</option>' +
                        '                    <option value="初级">初级</option>' +
                        '                    <option value="中级">中级</option>' +
                        '                    <option value="高级">高级</option>' +
                        '                </select>','</td>','</tr>'].join(''));

                        //单个重传
                        tr.find('.demo-reload').on('click', function() {
                            obj.upload(index, file);
                        });

                        //删除
                        tr.find('.demo-delete').on('click', function() {
                            delete files[index]; //删除对应的文件
                            tr.remove();
                            uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
                        });

                        demoListView.append(tr);
                    });
                },
                done: function(res, index, upload) {
                    if (res.code == 0) { //上传成功
                        var tr = demoListView.find('tr#upload-' + index),
                            tds = tr.children();
                        tds.eq(2).html('<span style="color: #5FB878;">上传成功</span>');
                        tds.eq(3).html(''); //清空操作
                        tds.eq(4).html('<span style="color: red;">'+$('#t'+index).val()+'</span>');
                        $.ajax({
                            type: 'post',
                            url: '/UploadVideo2',
                            data: {
                                videoId: res.videoId,
                                courseName: tds.eq(4).text()
                            }
                        });

                        return delete this.files[index]; //删除文件队列已经上传成功的文件
                    }
                    this.error(index, upload);
                },
                error: function(index, upload) {
                    var tr = demoListView.find('tr#upload-' + index),
                        tds = tr.children();
                    tds.eq(2).html('<span style="color: #FF5722;">上传失败</span>');
                    tds.eq(3).find('.demo-reload').removeClass('layui-hide'); //显示重传
                }
            });
    });


    var fileName;
    /*题库上传*/
    layui.use('upload', function(){
        var upload = layui.upload;


        //执行实例
        var uploadInst = upload.render({
            elem: '#chooseSubjectFile' //绑定元素
            ,url: '/subjectBrowseUpload' //上传接口
            ,accept: 'file'
            ,choose: function(obj) {
                $("#chooseSubjectFile").hide();
                var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列

                //读取本地文件
                obj.preview(function(index, file, result) {
                    var tr = $(['<tr id="upload-' + index + '">', '<td>' + file.name + '</td>', '<td>' + (file.size / 1014).toFixed(1) + 'kb</td>', '<td>', '<button class="layui-btn layui-btn-xs demo-delete">删除</button>', '<button class="layui-btn layui-btn-xs layui-btn-danger subjectBrowse">预览</button>', '</td>'].join(''));
                    fileName=file.name;
                    //删除
                    tr.find('.demo-delete').on('click', function() {
                        delete files[index]; //删除对应的文件
                        tr.remove();
                        $("#chooseSubjectFile").show();
                    });

                    /*预览*/
                    tr.find('.subjectBrowse').on('click', function() {
                        window.open("/subjectBrowsePage?fileName="+fileName);
                    });

                    $("#subjectList").append(tr);
                });
                }
            ,done: function(res){

            }
            ,error: function(){
                //请求异常回调
            }
        });
    });

    $("#startUpload").click("click",function() {
        if (fileName==null&&fileName==""){
            alert("请选择文件")
        }else {
            $.ajax({
                type: "post",
                url: "/saveSubject",
                data:{'fileName':fileName},
                dataType: "json", //返回数据类型
                success: function(data){

                    alert(data.ret);
                    window.location.reload();
                }
            });
        }
    })

    // $(".subjectBrowse").click(function (){
    //     window.location.href="/subjectBrowsePage?fileName="+fileName;
    // })


</script>
</body>

</html>