
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../js/jquery.js">
    </script>
</head>

<body>
<span><input style="width: 75%; height: 100%;display: block" type="file" name="myfile" onchange="uploadVidoe(this)"/>
</span>
</body>

<script>

    function uploadVidoe(vidoe) {
        var fileObj = vidoe.files[0]; // 获取文件对象

        if (fileObj != undefined) {

            if (fileObj.name) {
                console.log(fileObj.name)
            } else {
                alert("请选择文件");
            }

            var size = fileObj.size;
            var type = fileObj.type;


            //校验格式
            if (type.indexOf('document') == -1) {
                alert("请上传docx格式")
                return false;
            }
            //校验大小
            // if (size / 1024 / 2014 > 10) {
            //     alert("请上传" + size + "之内的视频")
            //     return false;
            // }

            var form = new FormData(); // FormData 对象
            form.append("file", fileObj);
            $.ajax({
                url: "/saveSubject",
                contentType: false,//false 传输对象
                processData: false,
                type: "POST",
                data: form,
                success: function (ret) {
                    console.log(ret);
                }
            })

        }
    }

</script>

</html>
